h1 {
  font-family: "latoregular", sans-serif; }

body {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "latoregular", sans-serif; }

.tab-item {
  display: none; }

.is-active {
  display: block;
  color: #fff; }

.tab-item.is-active {
  display: block; }

.tab-item__data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.star-on {
  color: #fedc3f; }

.hero-card {
  width: 600px;
  height: 540px;
  background-color: #212434;
  margin: 5vh auto 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .hero-card__button-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 115px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none;
    background-color: #2b2f3f; }

.button-bar__btn {
  width: 148px;
  height: 115px;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent; }
  .button-bar__btn:hover {
    border-bottom: 2px solid #fff; }
    .button-bar__btn:hover .button-bar__btn-img,
    .button-bar__btn:hover .button-bar__btn-text {
      color: #fff; }
  .button-bar__btn-img {
    color: #b7bacd;
    font-size: 20px; }
  .button-bar__btn-text {
    color: #b7bacd;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 28px; }

.tab-item__cover {
  display: inline-block;
  margin: 60px 47px 25px 42px; }

.tab-item__about {
  display: inline-block;
  margin-top: 60px;
  margin-right: 40px; }

.cover__rating-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 25px 0 15px;
  list-style: none; }

.info-block__title {
  font-size: 32px;
  line-height: normal;
  color: #fff; }

.info-block__release {
  font-size: 14px;
  color: #fdfdfd; }

.info__rating-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.rating-block__rating {
  position: relative;
  top: 26px;
  left: 50px;
  font-size: 20px;
  line-height: normal;
  color: #aaadbb; }

.rating-block__chart {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 2px solid #777b9b; }
  .rating-block__chart-rate {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: 3px solid #13e18c; }

.about__description {
  padding-top: 35px;
  font-size: 14px;
  line-height: 22px;
  color: #b7bacd; }

.about__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 50px; }

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.cost__discont {
  text-transform: uppercase;
  font-size: 12px;
  color: #fedc3f;
  font-weight: 700;
  margin-bottom: 8px; }

.cost__price {
  font-size: 32px;
  color: #fff; }

.buy__now {
  border: none;
  border-radius: 2px;
  font-size: 16px;
  color: #fff;
  background-color: #13e18c;
  font-weight: 700;
  padding: 20px 35px;
  cursor: pointer; }

/*# sourceMappingURL=styles.css.map */