// Fonts
$fnt-regular: 'latoregular', sans-serif;
$fnt-bold: 'latobold', sans-serif;
$fnt-icons: 'icomoon';

//Colors
$color_white: #fff;
$color_white-light: #fdfdfd;
$color-gray-light: #aaadbb;
$color_gray-white: #b7bacd;
$color_dark-light: #777b9b;
$color_dark: #212434;
$color_light-dark: #2b2f3f;
$color_yellow: #fedc3f;
$color_green: #13e18c;

// path
$path-img: '../img/';